<div class="padding"></div>
<div class="dividor-top"></div>
<div class="container">
    <div class="section-heading-wrapper">
        <div class="section-heading">Software summary</div>
    </div>
    <div class="grid-left-outer">
        <div class="grid-left-inner">
            <div *ngIf="programmingLanguages.length !== 0">
                <div @skills>
                    <div class="summary-click" data-title="&#8627; click a list-item for a short summary"></div>
                    <table id="programming-table">
                        <th class="col-1"></th>
                        <th class="col-2">Language</th>
                        <th class="col-3">Personal rating</th>
                        <tr *ngFor="let language of programmingLanguages" (click)="changeProgrammingDescription(language.Id, this)">
                            <td class="col-1"></td>
                            <td class="col-2">{{ language.Language }}</td>
                            <td class="col-2" [innerHTML]="language.Stars | safeHtml"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="spinner-outer-wrapper" *ngIf="programmingLanguages.length === 0">
                <div class="spinner-wrapper-aside">
                    <app-spinner></app-spinner>
                </div>
            </div>
            <div class="rating-wrapper" *ngIf="rating">
                <div *ngFor="let rate of rating">
                    <div class="rate-stars" [innerHTML]="rate.Stars | safeHtml"></div>
                    <div class="rate-description">
                        <i [innerHTML]="rate.Description | safeHtml"></i>
                    </div>
                    <div class="clear-both"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-right-outer">
        <div class="grid-right-inner">

            <div *ngIf="programmingDescription.length > 0">
                <h1 [@descriptionHeader]="programmingDescription[0].Id" class="programmingDescriptionHeading" [innerHTML]="programmingDescription[0].Language"></h1>
                <div class="programmingDescriptionBody" [@descriptionBody]="programmingDescription[0].Id" [innerHTML]="programmingDescription[0].Description | safeHtml"></div>
            </div>

            <div class="placeholder" *ngIf="programmingDescription.length === 0 && programmingLanguages.length !== 0">
                <p class="blink">&#9668;</p>
                <p class="placeholder-text" data-title="(Click)"></p>
            </div>
            <div class="clear-both"></div>
        </div>
    </div>

    <div class="clear-both"></div>


    <div id="myModal" class="modal" (click)="closeModal()">
        <div *ngIf="programmingDescription.length > 0">
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close"></span>
                    <h1 class="programmingDescriptionHeading" [innerHTML]="programmingDescription[0].Language"></h1>
                </div>
                <div class="modal-body">
                    <p [innerHTML]="programmingDescription[0].Description"></p>
                </div>
            </div>

        </div>
    </div>
</div>

<app-divider></app-divider>
<div class="dividor-top"></div>

<div class="container">
    <div class="section-heading-wrapper">
        <div class="section-heading">Enviroments</div>
    </div>
    <div class="enviroments-inner-content">
        <ul *ngIf="enviroments">
            <li *ngFor="let enviroment of enviroments" class="list-item">
                <div class="enviroments-item-wrapper">
                    <div class="lhs">
                        <div class="enviroments-img-wrapper">
                            <img class="img-responsive" [src]="enviroment.Image" />
                        </div>
                        <div class="timeline">
                            <p class="short-description">{{enviroment.ShortDescription}}</p>
                        </div>
                    </div>
                    <div class="rhs">
                        <div class="rhs-content-wrapper">
                            <h2 class="enviroments-heading"> {{enviroment.Heading}} </h2>
                            <p class="enviroments-main-text"> {{enviroment.Context}} </p>
                            <ul>
                                <div *ngIf="enviroment.List">
                                    <li class="sublist-item" *ngFor="let listItem of enviroment.List">
                                        {{ listItem }}
                                    </li>
                                </div>
                            </ul>
                            <div class="link-to-enviroments-wrapper">
                                <a class="link-to-enviroments" href="{{enviroment.Link}}" target="_blank">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </li>
        </ul>
        <div class="spinner-outer-wrapper" *ngIf="enviroments.length === 0">
            <div class="spinner-wrapper-aside">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<div class="dividor"></div>