<div class="container">
    <div class="grid-left-outer">
        <div class="grid-left-inner">
            <div *ngIf="programmingLanguages.length !== 0 && !showProgrammingSpinner">
                <div @skills>
                    <div class="heading-text">Software summary</div>
                    <table id="programming-table">
                        <th class="col-1"></th>
                        <th class="col-2">Language</th>
                        <th class="col-3">Personal rating</th>
                        <tr *ngFor="let language of programmingLanguages" (click)="changeProgrammingDescription(language.Id)">
                            <td class="col-1"></td>
                            <td class="col-2">{{ language.Language }}</td>
                            <td class="col-2" [innerHTML]="language.Stars | safeHtml"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="spinner-outer-wrapper" *ngIf="programmingLanguages.length === 0">
                <div class="spinner-wrapper-aside">
                    <app-spinner></app-spinner>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-right-outer">
        <div class="grid-right-inner">
            <div *ngIf="programmingDescription.length > 0">
                <h1 class="programmingDescriptionHeading" [innerHTML]="programmingDescription[0].Language"></h1>
                <p [innerHTML]="programmingDescription[0].Description"></p>
            </div>
            <div *ngIf="programmingDescription.length === 0">
                <p>&#9668; (Click)</p>
            </div>
        </div>
    </div>
    <div class="clear-both"></div>
</div>