@import url(https://fonts.googleapis.com/css?family=Open+Sans);
p, h1, .summary-click {
    font-family: "Open Sans";
}

.padding {
    padding-top: 130px;
}

.container {
    background-color: white;
    margin-top: 0;
    margin: 0 auto;
    max-width: 1100px;
    box-shadow: 4px 4px 10px black;
    border: 1px solid black;
}

.grid-left-outer {
    width: 50%;
    float: left;
}

.grid-left-inner, .grid-right-inner {
    padding: 10px;
}

.grid-right-outer {
    width: 50%;
    font-family: "Open Sans";
    font-size: 14px;
    float: left;
    padding-top: 70px;
}

#programming-table {
    width: 100%;
}

.clear-both {
    clear: both;
}

.heading-text {
    text-transform: uppercase;
    color: #169eb6;
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Sans-serif;
}

.col-1 {
    text-align: center;
    padding: 5px;
}

.col-2, .col-3 {
    text-align: left;
    padding: 5px;
}

#programming-table td {
    font-size: 16px;
    font-family: "Open Sans";
}

th.col-3, th.col-2 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Open Sans";
}

#programming-table tr:nth-child(even) {
    border-top: 1px;
    border-bottom: 1px;
}

#programming-table tr:nth-child(odd) {
    background-color: rgb(233, 233, 233);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#programming-table>tbody>tr:hover {
    background-color: black;
    color: white;
    opacity: .8;
    cursor: pointer;
}

#programming-table>tbody>tr:hover td:last-child::after {
    content: '\25C0';
    float: right;
    padding: 3px 15px 0px 0px;
}

.programmingDescriptionHeading {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    opacity: .9;
}

.programmingDescriptionBody {
    font-family: monospace;
    font-size: 18px;
    display: inline-block;
    opacity: .9;
}

#programming-table>tbody>tr>td {
    margin: 10px 0px 10px 0px;
}

.summary-click {
    display: none;
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px 10px 16px;
    background-color: #169eb6;
    color: white;
    margin: 0;
}

.modal-body {
    padding: 2px 16px;
}

.dividor-top {
    margin-bottom: 40px;
}

.section-heading {
    display: block;
    font-size: 20px;
    padding: 10px;
    /* background-color: #c9c9c9; */
    border: 1px solid black;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    position: relative;
    margin-top: -25px;
    margin-right: 20px;
    margin-left: 20px;
    float: right;
    text-transform: uppercase;
    font-family: Sans-serif;
}

.modal {
    margin: 0;
}

.modal-body>div {
    margin-top: 20px;
}

.modal-body>p {
    padding: 20px 0px 20px 0px;
    margin: 0;
}

.placeholder {
    font-size: 16px;
    font-family: monospace;
    opacity: .9;
}

.spinner-outer-wrapper {
    padding: 20px;
}

.blink {
    animation: blink-animation 1.5s steps(50, start) infinite;
}

@keyframes blink-animation {
    0% {
        transform: translateX(10px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(10px);
    }
}

@media screen and (min-width: 767px) and (max-width: 960px) {
    .grid-right-outer {
        float: initial;
        margin: 0 auto;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background-color: orange;
        display: none;
    }
    .clear-both {
        clear: initial;
    }
    .grid-left-outer {
        float: initial;
        margin: 0 auto;
        width: 100%;
    }
    .grid-right-inner {
        padding-bottom: 100px;
    }
    .summary-click {
        display: initial;
    }
    #programming-table {
        margin-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .grid-right-outer {
        float: initial;
        margin: 0 auto;
        width: 100%;
        padding: 10px 0px 10px 0px;
        background-color: green;
        display: none;
    }
    .clear-both {
        clear: initial;
    }
    .grid-left-outer {
        float: initial;
        margin: 0 auto;
        width: 100%;
    }
    .grid-right-inner {
        padding-bottom: 100px;
    }
    .summary-click {
        display: initial;
    }
    #programming-table {
        margin-top: 20px;
    }
    .padding {
        padding-top: 100px;
    }
}