<div class="padding"></div>
<div class="dividor-top"></div>
<!-- Degrees -->

<div class="container">
    <div class="section-heading-wrapper">
        <div class="section-heading">Degrees</div>
    </div>
    <div class="degrees-inner-content">
        <ul *ngIf="Educations">
            <li *ngFor="let education of Educations" class="list-item">
                <div class="education-item-wrapper">
                    <div class="lhs">
                        <div class="education-img-wrapper">
                            <img class="img-responsive" [src]="education.Image" />
                        </div>
                        <div class="timeline">
                            <p class="short-description">{{education.ShortDescription}}</p>
                            <p>{{education.From}} - {{education.To}}</p>
                        </div>
                    </div>
                    <div class="rhs">
                        <div class="rhs-content-wrapper">
                            <h2 class="education-heading"> {{education.Heading}} </h2>
                            <p class="education-main-text"> {{education.Context}} </p>
                            <ul>
                                <div *ngIf="education.List">
                                    <li class="sublist-item" *ngFor="let listItem of education.List">
                                        {{ listItem }}
                                    </li>
                                </div>
                            </ul>
                            <div class="link-to-education-wrapper">
                                <a class="link-to-education" href="{{education.Link}}" target="_blank">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </li>
        </ul>
        <div class="spinner-outer-wrapper" *ngIf="Educations.length === 0">
            <div class="spinner-wrapper-aside">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<app-divider-dijkstra></app-divider-dijkstra>
<div class="dividor"></div>

<!-- Courses through university -->
<div class="container">
    <div class="section-heading-wrapper">
        <div class="section-heading">Courses, university</div>
    </div>
    <div class="courses-inner-content">
        <ul *ngIf="UniversityCourses">
            <li *ngFor="let cours of UniversityCourses" class="list-item">
                <div class="education-item-wrapper">
                    <div class="lhs">
                        <div class="education-img-wrapper">
                            <img class="img-responsive" [src]="cours.Image" />
                        </div>
                        <div class="timeline">
                            <p class="short-description">{{cours.ShortDescription}}</p>
                            <p>{{cours.From}} - {{cours.To}}</p>
                        </div>
                    </div>
                    <div class="rhs">
                        <div class="rhs-content-wrapper">
                            <h2 class="education-heading"> {{cours.Heading}} </h2>
                            <p class="education-main-text"> {{cours.Context}} </p>
                            <ul>
                                <div *ngIf="cours.List">
                                    <li class="sublist-item" *ngFor="let listItem of cours.List">
                                        {{ listItem }}
                                    </li>
                                </div>
                            </ul>
                            <div class="link-to-education-wrapper">
                                <a class="link-to-education" href="{{cours.Link}}" target="_blank">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </li>
        </ul>
        <div class="spinner-outer-wrapper" *ngIf="UniversityCourses.length === 0">
            <div class="spinner-wrapper-aside">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>

<app-divider-nancy></app-divider-nancy>
<div class="dividor"></div>

<!-- Courses through woork -->
<div class="container">
    <div class="section-heading-wrapper">
        <div class="section-heading">Courses, work</div>
    </div>
    <div class="courses-inner-content">
        <ul *ngIf="WorkCourses">
            <li *ngFor="let cours of WorkCourses" class="list-item">
                <div class="education-item-wrapper">
                    <div class="lhs">
                        <div class="education-img-wrapper">
                            <img class="img-responsive" [src]="cours.Image" />
                        </div>
                        <div class="timeline">
                            <p class="short-description">{{cours.ShortDescription}}</p>
                            <p>{{cours.From}} - {{cours.To}}</p>
                        </div>
                    </div>
                    <div class="rhs">
                        <div class="rhs-content-wrapper">
                            <h2 class="education-heading"> {{cours.Heading}} </h2>
                            <p class="education-main-text"> {{cours.Context}} </p>
                            <ul>
                                <div *ngIf="cours.List">
                                    <li class="sublist-item" *ngFor="let listItem of cours.List">
                                        {{ listItem }}
                                    </li>
                                </div>
                            </ul>
                            <div class="link-to-education-wrapper">
                                <a class="link-to-education" href="{{cours.Link}}" target="_blank">Link</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear-both"></div>
            </li>
        </ul>
        <div class="spinner-outer-wrapper" *ngIf="WorkCourses.length === 0">
            <div class="spinner-wrapper-aside">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>
<div class="dividor"></div>