<div class="padding"></div>
<div class="container">
    <h1>Degrees</h1>
    <hr/>
    <div class="inner-content">

        <ul *ngIf="Educations">
            <li *ngFor="let education of Educations" class="list-item">
                <div class="education-item-wrapper">
                    <div class="lhs">
                        <div class="education-img-wrapper">
                            <img class="img-responsive" [src]="education.Image" />
                        </div>
                        <div class="timeline">
                            <p class="short-description">{{education.ShortDescription}}</p>
                            <p>{{education.From}} - {{education.To}}</p>
                        </div>
                    </div>
                    <div class="rhs">
                        <h2 class="education-heading"> {{education.Heading}} </h2>
                        <p class="education-main-text"> {{education.Context}} </p>
                        <ul>
                            <div *ngIf="education.List">
                                <li class="sublist-item" *ngFor="let listItem of education.List">
                                    {{ listItem }}
                                </li>
                            </div>
                        </ul>
                        <a class="link-to-education" href="{{education.Link}}" target="_blank">Link to education</a>
                    </div>
                </div>
                <div class="clear-both"></div>
            </li>
        </ul>
        <div class="spinner-outer-wrapper" *ngIf="Educations.length === 0">
            <div class="spinner-wrapper-aside">
                <app-spinner></app-spinner>
            </div>
        </div>
        <div class="clear-both"></div>
    </div>
</div>