.container {
    background-color: white;
    margin-top: 0;
    margin: 0 auto;
    max-width: 1100px;
    font-family: monospace;
    box-shadow: 4px 4px 10px black;
    border: 1px solid black;
    box-sizing: border-box;
}

.padding {
    padding-top: 130px;
}

hr {
    margin: 0px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.container>h1 {
    font-size: 20px;
    padding: 20px;
}

.lhs, .rhs {
    padding: 20px;
    float: left;
}

.list-item {
    margin-top: 10px;
}

.list-item:first-child {
    margin-top: 0px;
}

.lhs {
    width: 20%;
}

.rhs {
    width: 70%;
}

.education-heading {
    font-size: 21px;
    /* font-weight: bold; */
    /* opacity: .8; */
    margin-bottom: 10px;
}

.short-description {
    margin-bottom: 5px;
}

.timeline {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    opacity: .8;
}

.timeline>p:last-child {
    font-size: 17px;
}

.clear-both {
    clear: both;
}

.education-item-wrapper {
    clear: left;
}

.education-main-text {
    font-size: 18px;
}

.spinner-outer-wrapper {
    padding: 20px;
}

.sublist-item {
    list-style-type: circle;
    font-size: 18px;
}

.sublist-item:first-child {
    margin-top: 20px;
}

.link-to-education-wrapper {
    margin-top: 20px;
}

.link-to-education {
    font-size: 16px;
}

.dividor {
    margin-bottom: 70px;
}

.section-heading {
    display: block;
    font-size: 26px;
    padding: 10px;
    background-color: #242424;
    color: white;
    box-sizing: border-box;
    position: relative;
    margin-top: -25px;
    margin-right: 20px;
    float: right;
}

@media screen and (max-width: 1100px) {
    .container {
        width: 100%;
    }
    .img-responsive {
        margin: 0 auto;
    }
}

@media screen and (max-width: 960px) {
    .rhs {
        width: 69%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    .padding {
        padding-top: 100px;
    }
    .lhs, .rhs {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .education-img-wrapper {
        margin: 20px;
    }
    .education-heading {
        margin-top: 20px;
    }
    .rhs-content-wrapper {
        padding: 10px;
    }
    .sublist-item {
        margin-left: 20px;
    }
}