<div class="container">
  <div class="profile-picture-wrapper">
    <div class="center">
      <img id="profile-picture" [src]="profilePicture" class="profile-picture" />
    </div>
  </div>
  <div class="profile-picture-text">
    <p>{{ name }}</p>
  </div>
  <hr/>
  <div class="footer">
    <div class="footer-1">
      <div>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </div>
    </div>
    <div class="footer-2">
      <div>
        <i class="fa fa-envelope-square" aria-hidden="true"></i>
        <p>{{email}}</p>
      </div>
    </div>
    <div class="footer-3">
      <div>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </div>
    </div>
    <div class="clear-both"></div>
  </div>
</div>