@import url(https://fonts.googleapis.com/css?family=Open+Sans);
p {
    font-family: "Open Sans";
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.profile-picture-wrapper {
    width: 300px;
}

.about-content-wrapper {
    margin: 0 auto;
    /* background-color: green; */
    width: 80%;
    padding: 20px 20px 20px 20px;
}

.text-hello {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    background-color: #e8676b;
    font-family: "Open Sans";
}

.text-name {
    font-size: 36px;
    font-family: "Open Sans";
}

.about-profile {
    padding-left: 30px;
    /* background-color: red; */
}

.float-left {
    float:left;
}

.center {
    width: 300px;
    margin: 0 auto;
}

.profile-picture-text>p {
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 70px;
    margin: 0;
}

.container {
    background-color: white;
    margin-top: 0;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 20px;
}

.footer-1, .footer-2, .footer-3 {
    float: left;
    width: 33%;
}

.footer-1, .footer-2, .footer-3>div {
    text-align: center;
}

.footer-2 {}

.footer-3 {}

.clear-both {
    clear: both;
}

.footer {
    margin-top: 20px;
}

.footer>div>div>i {
    font-size: 50px;
}

.footer>div>div>p {
    margin-bottom: 20px;
}

hr {
    width: 80%;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}