@import url(https://fonts.googleapis.com/css?family=Open+Sans);
p {
    font-family: "Open Sans";
}

.padding {
    padding-top: 130px;
}

.border-box {
    box-sizing: border-box;
}

.profile-lhs, .profile-rhs {
    display: block;
    float: left;
}

.profile-lhs {
    width: 30%;
}

.staticMessage {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans";
}

.profile-rhs {
    width: 70%;
}

.rhs-wrapper {
    margin-top: 40px;
    margin-left: 20px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.timeline {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
    opacity: .8;
    font-family: "Open Sans";
    line-height: 1.4;
}

.profile-picture-wrapper {
    max-width: 300px;
}

.about-content-wrapper {
    padding: 20px;
}

.general-information-wrapper {
    padding: 20px;
    font-family: "Open Sans";
}

.general-short-description-heading, .general-language-heading {
    font-size: 24px;
    font-weight: 500;
}

.general-text, .general-language {
    font-size: 18px;
    line-height: 1.4;
}

.emplyment-logo {
    max-width: 200px;
}

.employment-lhs {
    box-sizing: border-box;
    width: 20%;
    float: left;
}

.employment-rhs {
    float: left;
    box-sizing: border-box;
    width: 80%;
}

.employment-rhs-content {
    margin-left: 30px;
}

.employer-heading {
    font-size: 23px;
    font-weight: 500;
}

.employer-heading-lowres{
    display: none;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight: 500;
}

.employer-description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.4;
}

.text-hello {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    background-color: #4ba4be;
    font-family: "Open Sans";
    margin-bottom: 10px;
}

.text-name>h1 {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 20px;
    opacity: .9;
}

.text-name>h1>span {
    font-size: 30px;
    font-family: monospace;
    font-weight: lighter;
    opacity: .9;
}

.about-profile {
    padding-left: 30px;
    width: 350px;
}

.float-left {
    float: left;
}

.center {
    width: 300px;
    margin: 0 auto;
}

.profile-picture-text>p {
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 70px;
    margin: 0;
}

.container {
    background-color: white;
    margin-top: 0;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 4px 4px 8px black;
    border: 1px solid black;
}

.clear-both {
    clear: both;
}

.profile-list {
    margin-top: 20px;
}

.profile-list>li {
    margin-bottom: 7px;
}

.occupation {
    padding: 10px 0px 5px 0px;
    font-family: "Open Sans";
    font-size: 16px;
    opacity: .9;
    display: block;
}

.title {
    font-family: monospace;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    display: inline-block;
    opacity: .9;
}

.dividor {
    margin-bottom: 40px;
}

.section-heading {
    display: block;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    background-color: #3d3d3d;
    color: white;
    box-sizing: border-box;
    position: relative;
    margin-top: -21px;
    margin-bottom: -21px;
    margin-right: 20px;
    margin-left: 20px;
    float: right;
    text-transform: uppercase;
    font-style: italic;
}

.content {
    font-family: monospace;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    opacity: .7;
}

.spinner-outer-wrapper {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.download-button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: not-allowed;
    background-color: #eeeeee;
    color: black;
    font-weight: bold;
    border: 2px solid dimgray;
    margin-top: 20px;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .general-content {
        margin-top: 20px;
    }    
}

@media screen and (max-width: 768px) {
    .employer-heading-lowres {
        display: block;
        margin-bottom: 30px;
    }
    .employer-heading {
        display: none;
    }
    .about-profile {
        clear: both;
        float: initial;
        padding: 20px 0px 20px 0px;
        margin: 0 auto;
        width: 100%;
    }
    .profile-picture-wrapper {
        max-width: 300px;
    }
    .padding {
        padding-top: 100px;
    }
    .text-name>h1 {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        margin-top: 20px;
        opacity: .9;
    }
    .text-name>h1>span {
        font-size: 20px;
        font-family: monospace;
        font-weight: lighter;
        opacity: .9;
    }
    .profile-rhs, .profile-lhs {
        float: initial;
        width: 100%;
    }
    .rhs-wrapper {
        margin-top: 20px;
    }
    .profile-lhs {
        display: inline-block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .rhs-wrapper {
        margin: 0px;
    }
    .employment-lhs {
        width: 100%;
    }
    .employment-rhs {
        width: 100%;
        margin-bottom: 50px;
    }
    .employment-rhs-content {
        margin-left: 0px;
    }
    .employment-img-wrapper, .img-responsive {
        margin: 0 auto;
    }
    .employment-img-wrapper {
        max-width: 400px;
    }
}