@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* @import url(https://fonts.googleapis.com/css?family=Dosis); */

p {
    font-family: "Open Sans";
}

.padding {
    padding-top: 130px;
}

.img-responsive {
    max-width: 100%;
    height: auto;
    display: block;
}

.profile-picture-wrapper {
    max-width: 300px;
}

.about-content-wrapper {
    margin: 0 auto;
    /* background-color: green; */
    max-width: 80%;
    padding: 20px 20px 20px 20px;
}

.text-hello {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    display: inline-block;
    padding: 7px 12px;
    text-transform: uppercase;
    background-color: #4ba4be;
    font-family: "Open Sans";
    margin-bottom: 10px;
}

.text-name>h1 {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
    margin-top: 20px;
    opacity: .9;
}

.text-name>h1>span {
    font-size: 30px;
    font-family: monospace;
    font-weight: lighter;
    opacity: .9;
}

.about-profile {
    padding-left: 30px;
    width: 350px;
}

.float-left {
    float: left;
}

.center {
    width: 300px;
    margin: 0 auto;
}

.profile-picture-text>p {
    font-family: 'Tangerine', cursive;
    text-align: center;
    font-size: 70px;
    margin: 0;
}

.container {
    background-color: white;
    margin-top: 0;
    max-width: 1100px;
    margin: 0 auto;
    box-shadow: 4px 4px 8px black;
    border: 1px solid black;
}

.clear-both {
    clear: both;
}

.profile-list {
    margin-top: 20px;
}

.profile-list>li {
    margin-bottom: 7px;
}

.occupation {
    padding: 10px 0px 5px 0px;
    font-family: "Open Sans";
    font-size: 16px;
    opacity: .9;
    display: block;
}

.title {
    font-family: monospace;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    display: inline-block;
    opacity: .9;
}

.content {
    font-family: monospace;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    opacity: .7;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 850px) {
    .about-profile {
        clear: both;
        float: initial;
        padding: 20px 0px 20px 0px;
        margin: 0 auto;
    }
    .profile-picture-wrapper {
        float: initial;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .about-profile {
        clear: both;
        float: initial;
        padding: 20px 0px 20px 0px;
        margin: 0 auto;
        width: 100%;
    }
    .profile-picture-wrapper {
        max-width: 300px;
    }
    .padding {
        padding-top: 100px;
    }

    .text-name>h1 {
        font-size: 20px;
        font-family: monospace;
        font-weight: bold;
        margin-top: 20px;
        opacity: .9;
    }
    
    .text-name>h1>span {
        font-size: 20px;
        font-family: monospace;
        font-weight: lighter;
        opacity: .9;
    }
}