<nav>
  <ul>
    <!-- <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/home']" href="#" (click)="changeActiveLink($event)">
        <i class="fa fa-home fa-2x"></i>
        <p>Home</p>
      </a>
    </li> -->
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/about']" href="#">
        <i class="fa fa-question-circle-o fa-2x"></i>
        <p>About</p>
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/education']" href="#">
        <i class="fa fa-graduation-cap fa-2x"></i>
        <br/>
        <p>Education</p>
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/skills']" href="#">
        <i class="fa fa-file-code-o fa-2x"></i>
        <p>Skills</p>
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['/contact']" href="#">
        <i class="fa fa-envelope-o fa-2x"></i>
        <p>Contact</p>
      </a>
    </li>
  </ul>
</nav>
<div class="clear"></div>