@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.clear {
  clear: both;
}

nav {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

li>i {
  padding: 10px 0 10px 0;
}

nav ul {
  text-align: center;
  background-color: white;
}

nav>ul>li {
  display: block;
  float: left;
  transition: all 0.3s ease-in;
  width: 25%;
  background-color: white;
  margin-bottom: 20px;
}

nav>ul>li>a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  display: block;
  color: #161616;
}

nav ul li a:hover {
  background: #333;
  transform: translate(0px, 0px);
  transition: all 0.3s ease-in;
  color: white;
}

.link-active>a {
  background-color: rgba(51, 51, 51, 0.85);
}

.link-active>a>i, .link-active>a>p {
  color: #1dd0f0;
}

nav>ul>li>a>p {
  margin-top: 10px;
}

.navbarfixed {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
  overflow: hidden;
}

.navbarfixed>ul>li {
  height: 65px;
  overflow: hidden;
  transition: height 2s;
}

.navbar>ul>li {
  height: 100px;
  overflow: hidden;
  transition: height 2s;
}

@media screen and (max-width: 768px) {
  nav>ul>li>a>p {
    display: none;
  }
  .navbarfixed>ul>li>a>p, .navbar>ul>li>a>p {
    display: none;
  }

  .navbar>ul>li>a, .navbar>ul>li {
    height: 80px;
  } 
}