.container {
    margin: 10px 0px 10px 0px;
    background-color: white;
    margin: 0 auto;
    margin: 30px auto 30px auto;
    max-width: 1100px;
    box-shadow: 4px 4px 10px black;
    border: 1px solid black;
}

.container-inner {
    padding: 20px;
}

.quote {
    font-family: monospace;
    font-size: 24px;
    font-style: italic;
    opacity: .9;
    float: left;
}

.author {
    float: left;
    clear: left;
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
    margin-top: 10px;
    opacity: .8;
}

.clear-both {
    clear: both;
}

.qoutation {    
    font-size: 40px;
    font-weight: bold;
    opacity: .9;
    font-family: 'Times New Roman', Times, serif;
}